.wrapper {
    height: 525px;
    width: 360px;
    color: white;
    background: #272639;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 100px auto;
}

#topContainer,
#middle,
#botom {
    margin-top: 4rem;
}

.container {
    margin-top: 1.4rem;
}

.title {
    font-weight:  bold;
    margin-bottom: 0.6rem;
}

.inputContainer {
    background: #353959;
    border-radius: 1.4rem;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
}

#desiredGrade,
#currentGrade,
#weightGrade {
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
}

#calculateButton {
    margin-top: 4rem;
}

.totalContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total {
    font-size: 2rem;
}

#neededGrade{
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
}

.buttonText {
    color: #353959 !important;
}

/*.calculate {*/
/*    font-size: ;*/
/*}*/